---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ListOfHeroes from '../components/ListOfHeroes.astro';
---

<Layout title='Comic Heroes'>
  <main class='m-auto max-w-4xl'>
    <Title />
    <ListOfHeroes />
  </main>
</Layout>
