<h1
  class='text-3xl md:text-6xl font-black uppercase text-center tracking-widest py-8'
  style='view-transition-name: title'>
  super Comic
  <span class='block font-black text-6xl md:text-9xl tracking-tighter'> Heroes</span>
</h1>
